<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style>
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script src="http://api.map.baidu.com/api?v=2.0&ak=31Ww8ZGg8lcGsXpOun3FMKWX"></script>
	<title>esapMap</title>
</head>
<body>
	<div id="allmap"></div>
	<span id="lng">lng</span>
	<span id="lat">lat</span>
	</body>
</html>
<script>
	// 百度地图API功能
	var lng={{.lng}};
	var lat={{.lat}};
	/*
	if (lng==0&&lat ==0) {
		lng=121.582133;
		lat=29.924693;
	}
	*/
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(lng,lat);
	map.centerAndZoom(point, 12);
	var marker = new BMap.Marker(point);  // 创建标注
	map.addOverlay(marker);              // 将标注添加到地图中
	marker.addEventListener("click",getAttr);
  	marker.enableDragging();
	function getAttr() {
		var p = marker.getPosition();       //获取marker的位置
		alert("此处坐标是" + p.lng + "," + p.lat);
		lng=p.lng;
		lat=p.lat;
	}
</script>